footer {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    bottom: 0;
    min-height: 2em;
    color: white;
    background: #31363b;
    font-size: small;
}

footer div {
    display:         flex;
    align-items:     center;
    align-content:   center;
    justify-content: center;
}

footer div div {
    display:        inline-flex;
    flex-direction: row;
    flex-wrap:      wrap;
    vertical-align: bottom;
    margin:         0.25em 0.15em;
}

.footer-tag {
    display:        inline-block;
    padding:        0.2em 0.25em 0.2em 0.25em;
    margin:         0.2em 0.3em;
    vertical-align: middle;
    font-family:    monospace;
    font-size:      x-small;
    font-weight:    bold;
}

.footer-avatar {
    display:        inline-block;
    vertical-align: middle;
    height:         1.75em;
    width:          auto;
    margin:         0.1em 0.3em;
    padding:        0;
}

.footer-avatar img {
    height: 1.75em;
}

#js {
    color: white;
    background: #eeaf4b;
}

#css {
    color: white;
    background: #0096e6;
}

#html {
    color: white;
    background: forestgreen;
}