/* ======================================== NAVIGATION ========================================== */
.navigation {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    z-index: 999;
    transition: all 500ms ease-in;
}

.fixed{
    left:     auto;
    right:    auto;
    position: fixed;
    top:      0;
    transition: opacity 500ms ease-in;
}

.navigation ul {
    display:          flex;
    justify-content:  center;
    flex-direction:   row;
    align-items:      flex-start;
    margin:           0;
    padding:          0;
    height:           auto;
    background-color: #31363b;
}

.navigation ul li {
    list-style: none;
    text-align: center;
}

.navigation ul li.active a {
    color: #31363b;
    background-color: #FCFCFC; /* global background */
}

.navigation ul li a {
    display:         inline-block;
    flex-basis:      100%;
    color:           white;
    text-align:      center;
    letter-spacing:  0.1em;
    padding:         0.5em 1em;
    text-decoration: none;
    font-weight:     normal;
    font-size:       large;
}

.navigation ul li a:hover {
    background: #f9f9f9;
    color:      #31363b;
}

.navigation .nav-icon {
    display:        inline-block;
    height:         2em;
    width:          2em;
    vertical-align: middle;
}

.navigation .nav-text {
    display:        inline-block;
    vertical-align: middle;
}

.nav-writings .nav-icon {
    background: url("../../img/navigation/home.svg") center top no-repeat;
}
.nav-projects .nav-icon {
    background: url("../../img/navigation/projects.svg") center top no-repeat;
}
.nav-cv .nav-icon {
    background: url("../../img/navigation/resume.svg") center top no-repeat;
}
.nav-contact .nav-icon {
    background: url("../../img/navigation/contacts.svg") center top no-repeat;
}

@media only screen and (max-width : 600px) {
    .navigation ul li a {
        padding: 0.5em 0.75em;
    }

    .navigation .nav-icon {
        height: 2em;
        width:  2em;
    }

    .navigation .nav-text {
        font-size: medium;
    }
}

@media only screen and (max-width : 480px) {}

@media only screen and (max-width : 414px) {}

@media only screen and (max-width : 411px) {}

@media only screen and (max-width : 375px) {
    .navigation .nav-icon {
        height: 1.5em;
        width:  1.5em;
    }

    .navigation .nav-text {
        font-size: small;
    }
}

@media only screen and (max-width : 360px) {
    .navigation ul li a {
        padding: 0.4em 0.5em;
    }
}
@media only screen and (max-width : 320px) {}