/* CSS for Résumé page (cv.html) */
.cv {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    width: 100%;
    padding: 1em 0;
    align-items: stretch;
    justify-content: center;
    overflow: auto;
}

.cv > div {
    display: flex;
    flex-direction: column;
    padding: 1em;
    max-width: none;
    background-color: #FCFCFC; /* global background */
    transition: 0.2s box-shadow ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and ( max-width: 800px ) {
    .cv { grid-template-columns: repeat(1, 1fr); }
}

@media screen and ( max-width: 650px ) {
    .cv > div {
        margin-left: 0.3em !important;
        margin-right: 0.3em !important;
    }
}

.cv .entry {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 0.25em 0;
    position: relative;
    border-bottom: solid 1px lightgrey;
}

.cv h2 {
    border-bottom: double lightgrey;
    margin: 0.5em 0 0.5em 0;
}

.cv h4             { margin: 0.25em 0 0.25em 0; }
.cv a              { text-decoration: none; }
.cv a:hover        { text-decoration: underline; }
.cv p              { margin: 0.35em 0 0 0; padding: 0; }
.cv p.location     { font-size: medium; color: lightseagreen; }
.cv p.date         { font-size: small; color: gray; }
.cv #dev_xp p.date { text-align: right; }
.cv #dev_xp p.role { color: maroon; }

.entry img {
    display: block;
    max-height: 6em;
    max-width: 5em;
    margin: auto 0 auto auto;
    padding-left: 0.5em;
}

#education .entry img {
    max-height: 4em;
}

.cv p .more { clear: both; }

.cv ul, .box-desc ol {
    margin: 0.5em 0 0.5em 0.5em;
    padding-left: 1em;
}

@media only screen and ( max-width : 360px ) {
    .entry { flex-wrap: wrap; }
    .entry > img { display: none; }
}



.online-course-header {
    width: 100%;
    clear: both;
    display: inline-flex;
    justify-content: space-between;
    padding-bottom: 0.5em;
}

.online-course-header:first-child { flex-grow: 1; }
.online-course-header:last-child  { flex-shrink: 1; }
.online-course-header img         { margin: 0.5em 0.5em; }

@media only screen and (max-width : 640px) {
    .online-course-header img {
        max-width: 100%;
    }
}

.cv .link-icon {
    display: inline-block;
    height: 1.2em;
    margin: 0;
    padding: 0;
}

.entry table {
    border-spacing: 0;
    border-collapse: separate;
    empty-cells: show;
    width: 100%;
}

.entry tr td {
    border-top:    1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    padding: 0.2em 0.2em;
}

.entry td, th { vertical-align: middle; }

.entry tr:last-child {
    width: 100%;
    vertical-align: top;
}

/* Skills table */
.cv div:first-of-type {
    /*grid-column-start: 1;*/
    /*grid-column-end: span 2;*/
}

.cv table.skills {
    border-spacing: 0.35em 0.25em;
    /*margin: 0.5em auto;*/
}

@media screen and ( max-width: 640px ) {
    .cv table.skills { font-size: small; }
}
@media screen and ( max-width: 360px ) {
    .cv table.skills { font-size: smaller; }
}

.cv table.skills tbody {
    width: auto;
    /*margin: 0 auto;*/
    /*text-align: center;*/
}

.cv table.skills tr:first-of-type th { border-bottom: 2px solid #31363b; }
.cv table.skills tr td:last-of-type  { text-align: left; }

.cv table.skills tr td { padding: 0.2em 0.2em; }
.cv table.skills tr th { padding: 0.2em 0.2em; }

.cv table.skills tr:nth-child(even)          { background-color: rgba(210, 229, 255, 0.51); }
.cv table.skills tr:not( :first-of-type ) th { text-align: left; }
.cv table.skills td                          { border: 1px solid lightgrey; text-align: center; }