/*====Tags====*/
.dev-tags-box {
    align-self: flex-start;
}

.dev-tags-box * {
    border-radius: 0.5em;
    display: inline-block;
    padding: 0.1em 0.25em 0.1em 0.25em;
    margin: 0;
    font-family: monospace;
    font-size: small;
    font-weight: bold;
}

.dev-tags-box span {
    margin:  0;
    padding: 0;
}

.dev-tag-dflt {
    color:      white;
    background: #31363b;
    box-shadow: 2px 2px rgba(49, 54, 59, 0.3);
}

.dev-tag-c {
    color: white;
    background: #0b05d0;
    box-shadow: 2px 2px rgba(8, 5, 208, 0.3);
}

.dev-tag-cpp {
    color:      white;
    background: #aa0000;
    box-shadow: 2px 2px rgba(170, 0, 0, 0.3);
}

.dev-tag-cpp-stl {
    color: #31363b;
    background: whitesmoke;
    box-shadow: 2px 2px rgba(170, 0, 0, 0.3);
    font-weight: normal;
}

.dev-tag-java {
    color:      white;
    background: darkgreen;
    box-shadow: 2px 2px rgba(0, 100, 0, 0.3);
}

.dev-tag-js {
    color:      white;
    background: darkorange;
    box-shadow: 2px 2px rgba(255, 140, 0, 0.3);
}

.dev-tag-sh {
    color:      white;
    background: #663399;
    box-shadow: 2px 2px rgba(102, 51, 153, 0.3);
}

.dev-tag-qt {
    color:      #31363b;
    background: #7cfc00;
    box-shadow: 2px 2px rgba(124, 252, 0, 0.3);
}

.dev-tag-javafx {
    border: #e8e8e8 solid 1px;
    color: #e97911;
    background: #ffffff;
    box-shadow: 2px 2px rgba(233, 121, 17, 0.3);
}

.dev-tag-javafx-innerFX {
    color: #53829f;
    /*width: 100%;*/
    font-style: italic;
}

.dev-tag-sqlite {
    border:     #2a7ae2 solid 1px;
    color:      #2a7ae2;
    background: white;
    box-shadow: 2px 2px rgba(42, 122, 226, 0.3);
}

.dev-tag-css {
    border:     #0096e6 solid 1px;
    color:      white;
    background: #0096e6;
    box-shadow: 2px 2px rgba(0, 150, 230, 0.3);
}

.dev-tag-php {
    border:     grey solid 1px;
    color:      #808080;
    background: white;
    font-style: italic;
    box-shadow: 2px 2px rgba(128, 128, 128, 0.3);
}

.dev-tag-py {
    border:     #3474b4 solid 1px;
    color:      white;
    background: #3474b4;
    box-shadow: 2px 2px rgba(255,192,1, 1);
}

.dev-tag-linux {
    border:     #000000 solid 1px;
    color:      #fdfdfb;
    background: #000000;
    box-shadow: 2px 2px rgba(128,128,128, 1);
}