/*.org-outer-box {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    flex-flow: wrap;*/
/*    flex-grow: 1;*/
/*    align-items: stretch;*/
/*    overflow: auto;*/
/*    margin: 1em;*/
/*    padding: 0 0 1em 0;*/
/*}*/

.org-inner-box {
    flex-grow: 1;
    display: block;
    padding: 1em 1em;
    font-size: medium;
    background-color: transparent;
}

.org-inner-box > p { padding: 0.5em 0; }

.org-project-boxes {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1em;
    justify-items: stretch;
    padding: 0.5em 1em 1em 1em;
    background-color: transparent;
}

@media only screen and ( max-width: 1274px ) {
    .org-project-boxes { grid-template-columns: auto auto; }
}

@media only screen and ( max-width: 849px ) {
    .org-project-boxes { grid-template-columns: auto; }
}

@media only screen and (max-width : 640px) {
    .org-inner-box img {
        display: none;
    }
}

.org-inner-box > div {
    margin: 0;
    padding: 0;
    vertical-align: top;
    display: inline-block;
}

.org-inner-box > div h2 {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.org-inner-box > div p {
    padding: 0;
    margin: 0;
    font-size: small;
    color: gray;
}

.org-inner-box img {
    padding: 0 0.5em 0 0;
    min-height: 3em;
    max-height: 3em;
}