/* CSS template for articles/blog posts */

/*https://github.com/google/code-prettify*/
/*chevron bread crumb*/
/*code block w/o prettify js*/
/*code text (``)*/

.blog-main {
    width: 100%;
    max-width: 800px;
    padding-top: 3em;
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: flex-end;
}

.blog-nav {
    width:            100%;
    background-color: white;
    display:          flex;
    flex-direction:   row;
    flex-wrap:        nowrap;
    justify-content:  space-between;
    align-items:      flex-start;
}

.blog-nav a {
    display:         inline-block;
    text-decoration: none;
    text-align:      center;
    padding:         0.25em 0.25em
}

.blog-nav a:hover {
    background-color: white;
    color:            deepskyblue;
    text-decoration:  none;
}

.blog-nav .previous {
    background-color: grey;
    color:            white;
    border-left:      grey solid 1px;
    border-right:     white solid 1px;
    flex-grow:        1;
}

.blog-nav .next {
    background-color: grey;
    color:            white;
    border-left:      white solid 1px;
    border-right:     grey solid 1px;
    flex-grow:        1;
}

.blog-nav .up {
    background-color: grey;
    color:            white;
    flex-grow:        1;
}

.blog-post {
    width:            100%;
    /*max-width:        1375px;*/
    margin:           5px 0 15px 0;
    padding:          0.5em;
    display:          flex;
    flex-direction:   row;
    flex-wrap:        wrap;
    align-items:      stretch;
    overflow:         auto;
    background-color: white;
}

.column-post {
    margin: 0 auto;
    display: block;
}

@media screen and (max-width: 799px) {
    .blog-post > .column-post {
        padding: 0;
    }
}

@media screen and (min-width: 800px) {
    .blog-post > .column-post {
        padding: 0 5em;
    }
}

.blog-post-header-img {
    width: 100%;
}

.blog-post-header-img > img {
    width:    100%;
    height:   auto;
    display:  block;
    margin:   0.25em auto;
}

.blog-post h2 {
    margin:         1em 0 0.25em 0;
    font-size:      1.25em;
    letter-spacing: 2px;
    text-transform: capitalize;
    width:          100%;
    border-bottom:  solid grey 1px;
}

.blog-post .pub-date {
    font-size:      0.9em;
    letter-spacing: 2px;
    width:          100%;
    text-align:     right;
    font-style:     italic;
}

.blog-post p {
    text-align: justify;
    font-size:  large;
    line-height: 1.5em;
}
.column-post > ol {
    margin: 0;
    padding: 0;
    list-style: lower-latin inside;
    font-size:  large;
    line-height: 1.5em;
}

.column-post > .img-container-full {
    float: none;
    width: 100%;
}

.column-post > .img-container-full > img {
    display: block;
    margin:  0.25em auto;
    width:   100%;
    height:  auto;
}

.column-post > .img-container-full > div {
    display:     block;
    margin:      0.25em auto;
    font-style:  italic;
    font-weight: bolder;
    font-size:   smaller;
    text-align:  center;
}

.sectioned-header {
    line-height: 0.5;
    text-align: center;
}

.sectioned-header h4 {
    line-height: 0.5;
    padding: 0;
    margin: 0;
}

.sectioned-header span {
    display:  inline-block;
    position: relative;
}

.sectioned-header span:before,
.sectioned-header span:after {
    content:       "";
    position:      absolute;
    height:        7px;
    border-bottom: 2px solid #31363b;
    border-top:    2px solid #31363b;
    top:           0;
    width:         100%;
}

.sectioned-header span:before {
    right:        100%;
    margin-right: 15px;
}

.sectioned-header span:after {
    left:        100%;
    margin-left: 15px;
}

@media screen and (min-width: 600px) {
    .column-post > .img-container-float {
        float:  right;
        margin: 0.25em 0 0.25em 1em;
    }

    .column-post > .img-container-float > img {
        display: block;
        margin:  0;
    }

    .column-post > .img-container-float > div {
        display:     block;
        margin:      0.25em auto;
        font-style:  italic;
        font-weight: bolder;
        font-size:   smaller;
        text-align:  center;
    }
}

@media screen and (max-width: 599px) {
    .column-post > .img-container-float {
        float: none;
        width: 100%;
    }

    .column-post > .img-container-float > img {
        display: block;
        margin:  0 auto;
    }

    .column-post > .img-container-float > div {
        display:     block;
        margin:      0.25em auto;
        font-style:  italic;
        font-weight: bolder;
        font-size:   smaller;
        text-align:  center;
    }
}