.article-master-container {
    display:         flex;
    align-items:     flex-start;
    justify-content: space-between;
    flex-wrap:       wrap;
    margin:          0;
    padding:         0;
}

@media screen and (min-width: 1000px) {
    .article-section-container {
        background: #fcfcfc;
        display:    flow;
        flex-grow:  1;
        flex-basis: 45%;
        margin:     0;
        padding:    0 0.25em 0 0.25em;
    }

    .article-section-container:nth-of-type( odd ) {
        margin-right: 0.25em;
    }

    .article-section-container:nth-of-type( even ) {
        margin-left: 0.25em;
    }
}

@media screen and (max-width: 999px) {
    .article-section-container {
        background: #fcfcfc;
        display:    flow;
        flex-basis: 100%;
        margin:     0.25em 0 0.25em 0;
        padding:    0;
    }

    .article-section-container:first-of-type {
        margin-top: 0;
    }

}

.article-box {
    padding:          0 1em;
    margin:           0 1em 1em 0;
    width:            fit-content;
    background-color: #f3f3f3;
    overflow-x:       auto;
}

.article-box h3 {
    vertical-align: bottom;
    padding-bottom: 0.5em;
    border-bottom:  4px solid white;
}

.article-box h3 img {
    display:        inline-block;
    vertical-align: middle;
    padding:        0 0.5em 0 0;
    height:         1.17em;
}

.article-box h4 {
    display:        inline-block;
    vertical-align: middle;
    padding:        0.5em;
    border-bottom:  1px solid grey;
}

.article-table {
    border-spacing:  0;
    border-collapse: separate;
    empty-cells:     show;
}

.article-table tr {
    display: table-row;
}

.article-table tr td {
    border-top:    1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding:       0.2em 0.2em;
    height:        2.4em;
}

.article-table tr:first-of-type td {
    border-top: 1px solid #f3f3f3;
}

.article-table tr:last-of-type td {
    border-bottom: 1px solid #f3f3f3;
}

.article-table tr td:first-child img {
    height: 1.5em;
}

.article-table tr td:nth-child(2) {
    padding-right: 1em;
    padding-left:  0.5em;
    height:        2.4em;
}

.article-table tr td img {
    display: block;
    height:  2em;
}

.article-table tr td a img {
    display: block;
    height:  2em;
}

.article-table tr td a img:hover {
    opacity: 0.7;
}

#article-container {
    border-left: #ff6464 solid 3px;
}

#guide-container {
    border-left: #9f6459 solid 3px;
}

#cs-container {
    border-left: steelblue solid 3px;
}

#knowledge-container {
    border-left: #51b3da solid 3px;
}

.article-links a {
    line-height:     2em;
    margin:          0 0.2em;
    padding:         0;
    height:          2.3em;
    text-align:      left;
    display:         inline-block;
    text-decoration: none;
}

.article-links .link-icon {
    display:        inline-block;
    vertical-align: middle;
    height:         2em;
    margin:         0;
    padding:        0;
}

.article-links .link-icon:hover {
    opacity: 0.7;
}

ul, ol {
    margin:  0;
    padding: 0;
}

.article-links ul {
    list-style: none;
}

.article-links li {
    list-style:   url("../img/open-iconic/media-play.svg") outside;
    min-height:   2.5em;
    padding-left: 0;
    margin-left:  1em;
}

.tag {
    display:    inline-block;
    height:     0.5em;
    min-height: 0.5em;

}

.tag-arrow-left {
    display:        inline-block;
    vertical-align: middle;
    width:          0;
    height:         0;
    padding:        0;
    margin:         0;
    border-top:     0.5em solid transparent;
    border-bottom:  0.5em solid transparent;
    border-right:   0.5em solid #31363b;
}

.tag-text {
    border-radius:  0em 0.25em 0.25em 0em;
    display:        inline-block;
    min-height:     100%;
    padding:        0 0.25em 0 0.25em;
    margin:         0;
    border:         #31363b solid 0.25em;
    vertical-align: middle;
    font-family:    monospace;
    color:          white;
    font-size:      x-small;
    font-weight:    bold;
    background:     #31363b;
}