/* ===[ Blogator example: blogator stylesheet ]=== */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* All the Blogator-specific class styles          */
/* Written by An7ar35 (an7ar35.bitbucket.io)       */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and ( max-width: 650px ) {
    .featured-posts,
    .newest-posts,
    .content-v,
    .post-content {
        margin-left: 0.3em !important;
        margin-right: 0.3em !important;
    }
}

/* =======================================BREADCRUMB ============================================ */
.breadcrumb {
	margin-right: auto;
	padding: 0;
	background-color: #FCFCFC; /* global background */
	transition: 0.2s box-shadow ease;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.breadcrumb ul {
	padding: 0.5em;
	list-style: none;
}

.breadcrumb ul li {
	font-size: large;
	padding: 0;
	display: inline-block;
}

.breadcrumb ul li > * {
	display: inline-block;
	padding: 0 0.25em;
}

.breadcrumb ul li:not( :last-child ):after {
	color: black;
	content: "/\00a0"; /* slash '/' symbol */
	margin-left: 0.25em;
}

.breadcrumb ul li a 	  { text-decoration: none; }
.breadcrumb ul li a:hover { text-decoration: underline; }

/* ======================================= LANDING PAGE ========================================= */
/* Newest Posts Feed and Pinned/Featured posts */
.newest-posts { padding-top: 0.5em; }

.featured-posts > a,
.newest-posts 	> a {
	text-decoration: none;
	color: #31363b;
	display: block;
	overflow: hidden;
	margin: 0.5em 0;
	background-color: #FCFCFC; /* global background */
	transition: 0.2s box-shadow ease;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.featured-posts > a:first-child { margin-top: 0; }
.featured-posts > a:last-child  { margin-bottom: 1em; }

.featured-posts > a:hover,
.newest-posts 	> a:hover {
	transition: 0.2s box-shadow ease;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.featured-posts > a:hover .date-stamp,
.featured-posts > a:hover .authors,
.featured-posts > a:hover .summary,
.newest-posts 	> a:hover .date-stamp,
.newest-posts 	> a:hover .authors,
.newest-posts 	> a:hover .summary { color: #31363b; }

.featured-posts > a > p,
.newest-posts 	> a > p {
	display: inline-block;
	margin: auto;
}

.featured-posts > a > div > div,
.newest-posts 	> a > div > div  {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
}

.featured-posts > a > div:first-of-type,
.newest-posts	> a > div:first-of-type {
	border-bottom: 1px solid lightgray;
}

.featured-posts > a .post-number,
.newest-posts 	> a .post-number {
	display: none;
	/*font-size: x-large;*/
	/*text-align: center;*/
	/*padding: 0.5em;*/
	/*vertical-align: middle;*/
	/*alignment-baseline: middle;*/
}

.featured-posts > a .title,
.newest-posts 	> a .title {
	margin-right: auto;
	padding: 0.25em 0.5em;
	font-size: x-large;
	font-weight: normal;
	vertical-align: middle;
	alignment-baseline: middle;
}

a.pinned .title:before{
	content: url('../../img/icons/push-pin.svg');
	position: relative;
	width: 1.3em;
	margin-right: 0.5em;
	display: inline-block;
	vertical-align: middle;
	alignment-baseline: middle;
}

.featured-posts > a .date-stamp,
.newest-posts 	> a .date-stamp {
	padding: 0 0.5em;
	margin-left: auto;
	vertical-align: middle;
	alignment-baseline: middle;
}

.featured-posts > a .tags,
.newest-posts 	> a .tags	{
	margin-left: auto;
	padding: 0 0.5em;
	font-family: monospace;
	color: cadetblue;
}

.featured-posts > a .tag:not( :last-child ),
.newest-posts 	> a .tag:not( :last-child ) { padding-right: 0.25em; }

.featured-posts > a .tag:not( :last-child ):after,
.newest-posts 	> a .tag:not( :last-child ):after { content: ","; color: #31363b; }

.featured-posts > a .authors,
.newest-posts 	> a .authors {
	margin-right: auto;
	padding: 0 0.5em;
	font-style: italic;
}

.featured-posts > a .summary,
.newest-posts 	> a .summary {
	display: block;
    position: relative;
    height: auto;
    overflow: auto;
}

.featured-posts figure.right,
.newest-posts 	figure.right { margin: 0.5em 0.5em 0.5em 1em; width: 50%; }

.featured-posts figure.left,
.newest-posts 	figure.left  { margin: 0.5em 1em 0.5em 0.5em; width: 50%; }

.featured-posts figure.quarter-width,
.newest-posts 	figure.quarter-width  { width: 35%; }

.featured-posts > a .more,
.newest-posts   > a .more { color: royalblue; }

.featured-posts > a:hover .more,
.newest-posts   > a:hover .more { color: deepskyblue; text-decoration: underline; }

/* Top lists */
.top-tags ul,
.top-authors ul {
	padding: 0 0.5em;
	list-style: none;
}

.top-tags ul a,
.top-authors ul a { text-decoration: none; }

.top-tags ul { column-count: 2; }


/* ============================================ POSTS =========================================== */
/* Post/Article contents */
.post-content { background-color: #FCFCFC; /* global background */ }

.post-content > article {
    position: relative;
    height: auto;
    overflow: auto;
}

article > div { padding-bottom: 0.5em; }
article .post-text  { margin: 0.5em 2em; }

@media screen and ( max-width: 650px ) {
	article .post-text  { margin: 0.5em 1em; }
}

article h1 {
	padding: 0.5em;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #31363b;
	background-color: #31363b;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: large;
	font-weight: normal;
	color: white;
}

article h2,
article h3,
article h4,
article h5 {
	clear: both;
	padding-top: 1em;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

article h2   { display: block; margin-top: 1em; border-bottom: double lightgrey; }
article h3   { display: block; margin-top: 1em; border-bottom: 1px solid lightgrey; }
article h4   { display: inline-block; margin-top: 0.85em; border-bottom: 1px solid lightgrey;}
article h5 	 { display: inline-block; margin-top: 0.85em; border-bottom: 1px solid lightgrey;}
article p  	 { padding: 0.5em 0; font-size: 1.05em; line-height: 1.5em; }
article li 	 { padding: 0.25em 0; font-size: 1.05em; }
article time { padding: 0 0.5em; display: inline-block; }

article ol,
article ul 	{
	padding-left: 1em;
	margin: 0.5em 0 0.5em 0.5em;
}

article figure.center { margin: 0.5em; }
article figure.right  { margin: 0.5em 0 0.5em 1em; }
article figure.left   { margin: 0.5em 1em 0.5em 0; }

article .tags {
	padding: 0 0.5em;
	margin-left: auto;
	margin-right: 0;
	font-family: monospace;
	color: cadetblue;
	float: right;
	text-align: right;
	display: inline-block;
}

article div.tags .tag:not( :last-child ) 	   { padding-right: 0.25em; }
article div.tags .tag:not( :last-child ):after { content: ","; color: #31363b; }

article .authors { display: none; }
article .summary {}

article dl {
	display:     flex;
	flex-flow:   row wrap;
	padding:     0.5em 0;
	font-size: 	 1.05em;
	line-height: 1.5em;
}

article dt {
	flex-basis:     22.5%;
	font-weight:    bold;
	padding-right:  0.5em;
	text-align:     right;
}

article dt::after { content: ":"; }

article dd {
	flex-basis: 	75%;
	flex-grow:  	1;
	padding-bottom: 0.75em;
}

article dd:last-child { border-bottom: none; }

@media screen and ( max-width: 650px ) {
	article dt 			      { flex-basis: 100%; text-align: left; }
	article dt dd       	  { flex-basis: 100%; }
	article dt dd:last-child  { border-bottom: 1px solid lightgray; }
}

/* Date/Tag Trees */
.index-pane-dates {}
.index-pane-tags  {}

.tree {
	padding: 0.5em;
	line-height: 1.5em;
}

.tree li {
	list-style: none;
	width: 100%;
	display: inline-block;
}

.tree .current-post 		 { font-weight: bold; }
.tree label, .tree input	 { cursor: pointer; }
.tree li > input + * 		 { display: none; }
.tree li > input:checked + * { display: block; }
.tree li > input 			 { display: none; }
.tree li > label 			 { font-weight: normal; }

.tree > li > ol > li:before,
.tree > li > ol > li > ol > li:before {
	padding-right: 0.2em;
	content: "\251C";
}

.tree > li > ol > li:last-child:before  		 { content: "\2514"; }
.tree > li > ol > li > ol > li 					 { padding-left: 1.2em; }
.tree > li > ol > li > ol > li:last-child:before { content: "\2514"; }

.tree > li > ol > li:before {
	padding-right: 0.2em;
	padding-left: 0.4em;
}

.tree ol li a {
	padding-right: 0.4em;
	padding-left: 0.4em;
}


/* ========================================== INDEX LIST ======================================== */
.index-list-flat 		 { background-color: #FCFCFC; /* global background */ }
.index-list-flat ul      { list-style: none; display: inline-flex; }
.index-list-flat ul > li {}

.index-list-flat ul > li:before {
	content: "\25FE";
	padding-right: 0.5em;
}

.index-list-hierarchy {
	background-color: #FCFCFC; /* global background */
	padding: 0 0.5em;
}

.index-list-hierarchy > ul {
	column-count: 2;
	column-gap: 2em;
	list-style: none;
}

@media screen and ( max-width: 800px ) {
	.index-list-hierarchy > ul { column-count: 1; }
}

.index-list-hierarchy ul > li,
.index-list-hierarchy ul > li > ul > li {
	width: 100%;
	display: inline-block;
}

.index-list-hierarchy > ul > li {
	width: 100%;
	padding: 0.5em 0;
}

.index-list-hierarchy > ul > li > a {
	width: 100%;
	line-height: 2em;
	color: white;
	display: inline-block;
}

.index-list-hierarchy ul > li > ul {
	list-style: none;
	line-height: 2em;
}

.index-list-hierarchy ul > li > a {
	text-decoration: none;
}

.index-list-hierarchy ul > li > h3,
.index-list-hierarchy ul > li > a > h3 {
	padding: 0.25em;
}

.index-list-hierarchy ul > li > h3,
.index-list-hierarchy ul > li > a > h3 {
	width: auto;
	background-color: #FCFCFC; /* global background */
	border-bottom: 1px solid lightgrey;
	color: #31363b;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.index-list-hierarchy > ul > li > a:hover > h3 {
	color: deepskyblue;
	/*background-color: #31363b; !*#f9f9f9;*!*/
	border-bottom: 1px solid deepskyblue;
}

.index-list-hierarchy ul > li > ul > li:before {
	content: "\25FE";
	padding-right: 0.5em;
}


/* ================================ POST & INDEX LIST PAGE NAMES ================================ */
.page-name {
	background-color: #FCFCFC; /* global background */
	padding: 0.5em;
}


/* ============================== INDEX & POST PER-PAGE NAVIGATION ============================== */
.page-nav { background-color: #FCFCFC; /* global background */ }

.page-nav ul {
	padding: 0 0.5em 0.2em 0.5em;
	list-style: none;
	font-size: large;
	text-align: center;
}

.page-nav ul li {
	display: inline-block;
	margin: 0 0.1em;
}

.page-nav ul li a {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	text-align: center;
	text-decoration: none;
	font-size: larger;
	color: #31363b;
}

.page-nav ul li a:hover {
	color: #f9f9f9;
	background: #31363b;
}

.page-nav .curr { min-width: 3em; }

.page-nav ul li .disabled { color: #808080; }

.page-nav ul li .disabled:hover {
	color: grey;
	background-color: #FCFCFC; /* global background */
}


/*================================ INDICES ==================================*/
.index-entries {
	padding: 0 0.5em;
	background: rgb( 255, 255, 255 );
	background: linear-gradient( 0deg, rgba( 252, 252, 252, 1 ) 0%, rgba( 247, 247, 247, 1 ) 50%, rgba( 252, 252, 252, 1 ) 100% );
}

.index-entries > a {
	margin: 1em 0;
	border-radius: 0.5em;
	text-decoration: none;
	color: #31363b;
	background-color: #FCFCFC; /* global background */
	border: solid 1px lightgray;
	display: block;
	overflow: hidden;
}

.index-entries > a:first-child { margin-top: 0.5em; }
.index-entries > a:last-child  { margin-bottom: 0.5em; }
.index-entries > a:hover 	   { border: solid 1px #31363b; }

.index-entries > a:hover .date-stamp,
.index-entries > a:hover .authors,
.index-entries > a:hover .summary { color: #31363b; }

.index-entries > a:hover > p {
	color: deepskyblue;
	text-decoration: underline;
}

.index-entries > a > p {
	display: inline-block;
	margin: auto;
}

.index-entries > a > div {
	position: relative;
	height: auto;
	overflow: auto;
}

.index-entries > a div > div  {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
}

.index-entries > a > div > div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.index-entries figure.center { margin: 0.5em; }
.index-entries figure.right  { margin: 0.5em 0.5em 0.5em 1em; max-width: 35%; }
.index-entries figure.left   { margin: 0.5em 1em 0.5em 0.5em; max-width: 35%; }

.index-entries > a .post-number {
	font-size: large;
	text-align: center;
	padding: 0.5em;
	min-width: 1em;
	color: grey;
	vertical-align: middle;
	alignment-baseline: middle;
}

.index-entries > a > div:first-of-type { border-bottom: 1px solid lightgray; }

.index-entries > a .title {
	margin-right: auto;
	padding: 0.25em 0.5em;
	font-size: x-large;
	font-weight: normal;
}

.index-entries > a .date-stamp {
	padding: 0 0.5em;
	margin-left: auto;
}

.index-entries > a .tags	{
	margin-left: auto;
	padding: 0 0.5em;
	font-family: monospace;
	color: cadetblue;
}

.index-entries > a .tag:not( :last-child ) 		 { padding-right: 0.25em; }
.index-entries > a .tag:not( :last-child ):after { content: ","; color: #31363b; }

.index-entries > a .authors {
	margin-right: auto;
	padding: 0 0.5em;
	font-style: italic;
}

.index-entries > a .summary {
	display: block;
	position: relative;
	height: auto;
	overflow: auto;
}