/* ------------------------------------------- Tables ------------------------------------------- */
.flex-table {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    flex-direction: column;
    padding: 0.5em 0;
}

.flex-table-row {
    flex-direction: row;
    padding: 0.2em;
    border: 1px solid lightgrey;
}

.flex-cell {
    display: table-cell;
    overflow: hidden;
    padding: 0.5em;
    height: 100%;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
}

.flex-table-row:not( :first-of-type ) { margin-top: 0.5em; }
.flex-cell:last-of-type               { border-right: 1px solid lightgrey; }

.flex-cell.flex-table-heading { font-weight: bold;  }
.flex-cell.left-align         { text-align: left;   }
.flex-cell.right-align        { text-align: right;  }
.flex-cell.center-align       { text-align: center; }


table.basic-table {
    border-collapse: collapse;
    padding:         1em 0.5em;
    text-align:      center;
    margin:          0.5em auto;
}

table.basic-table th { border-bottom: grey double; }
table.basic-table tr { border-bottom: grey solid 1px; }
table.basic-table tr:first-of-type { border-bottom: gray double 1px; }

table.basic-table td {
    padding:      0.25em 0.5em;
    border-left:  grey solid 1px;
    border-right: grey solid 1px;
}

table.basic-table td:first-child { border-left:  none; }
table.basic-table td:last-child  { border-right: none; }